
<div class="container">
        <div class="card">
            <div class="card-header">
                    RAMANUJAN SCHOOL OF MATHEMATICS
    </div>
                <div class="card-body">
                        
                            <img src="./assets/Images/donat.jpg" class="img-fluid side" alt="responsive">
                            <br><br>
                            <h3 class="head">Anand Kumar teaching the students at Ramanujan School of  Mathematics.</h3>
                            <br>
                   <p class="para">
                        We don't accept financial support for Super 30 from any
                        government as well as private agencies. We generate money
                        on our own by running evening classes for intermediate         
                        level students . We charge nominal fee which is less than 15%
                        of any other institutions.
                   </p>
                   
        </div>
    </div>
    