
<div class="container">
    <div class="card">
        <div class="card-header">
            Talk Show
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/17.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                December 18, 2011, Anand Kumar at a talk show organised by Sangam School Bilwara Rajsthan.
               </p>
               
            
               
               
    </div>
</div>
