
<div class="container">
    <div class="card">
        <div class="card-header">
            Lecture in Coimbatore
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/16.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                January 6, 2012, Anand Kumar delivering a lecture at a seminar organised by Shanki Engineering
College in Coimbatore.
               </p>
               
            
               
               
    </div>
</div>
