<div class="container">
    <div class="card">
        <div class="card-header">
            China International Radio
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/11.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                February 14, 2012, Anand being felicitated in Beijing by Yang Yifeng of China International Radio. She
had invited him for recording of some programmes.
               </p>
            
               
               
    </div>
</div>
