
<div class="container">
        <div class="card">
            <div class="card-header">
                    Lecture at IIT Delhi
    </div>
                <div class="card-body">
                        
                            <img src="./assets/Images/46.jpg" class="img-fluid side" alt="responsive">
                            <br><br>
                   <p class="para">
                        Anand Kumar drawing appreciation from the academicians and others after the conclusion of the Second
International Conference on 'Excellence in School Education', organised by the Department of Management
Studies, IIT, Delhi on 27th oct 2010. His speech, which dwelt on inclusive education, was appreciated by one
and all. <br>
For detail click here:- <br>
 <a href="https://www.patnadaily.com/index.php?option=com_content&view=article&id=2407&Itemid=157" target="__blank"> <b> Super 30's Anand Kumar at Delhi IIT </b></a><br>
                      <a href="http://archive.indianexpress.com/news/super-30-head-rues-dearth-of-good-teachers/703914" target="__blank"> <b> Super 30 head rues dearth of good teachers</b></a><br>
                      <a href="https://in.yahoo.com/?err=404&err_url=https%3a%2f%2fin.news.yahoo.com%2f20%2f20101027%2f1416%2ftnl-super-30-head-rues-dearth-of-good-te.html" target="__blank"> <b> Super 30 head rues dearth of good teachers in country</b></a>
                   </p>
                  
        </div>
    </div>
    