
<div class="container">
    <div class="card">
        <div class="card-header">
            Give Back to Society
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/18.jpg" class="img-fluid side" alt="responsive"> <br><br>
               <p class="para">
                December 16, 2012, Successful students of Super 30's previous batches returning to their roots to give
some useful success tips to the new batch.
               </p>
               
            
               
               
    </div>
</div>
