<div class="card-header">FlOOD RELIEF(Photo Feature)</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
        
        <div class="carousel-inner">
          <div class="item active">
            <img src="./assets/Images/f1.jpg" class="d-block w-90" alt="no-img"> <br>
            <p class="para">Rush for registration: Pranav Kumar receiving the application forms.  The week-long
                    course evoked tremendous response right from day one, with more than 2200 students
                    getting enrolled for it.Due to a large number of students, the course had to be run in
                    three different groups – 7.00 am to 8.30 am, 5.30 pm to 7.00 pm and 7.30 pm top
                    9.00 pm.</p>
          </div>
      
          <div class="item">
            <img src="./assets/Images/f2.jpg" class="d-block w-90" alt="no-img"> <br>
            <p class="para">The course starts: Anand Kumar imparting lessons to curious group of students</p>
          </div>
      
          <div class="item">
            <img src="./assets/Images/f3.jpg" class="d-block w-90" alt="no-img"> <br>
            <p class="para">Packed to capacity: The course drew huge response from the students, who occupied
                    every inch of space in the class</p>
          </div>

          <div class="item">
                <img src="./assets/Images/f4.jpg" class="d-block w-90" alt="no-img"> <br>
                <p class="para"> For the right cause: IIT, Mumbai professor KD Joshi engaging special class for the
                        students. He came all the way from Mumbai on Anand’s call.</p>
              </div>

              <div class="item">
                    <img src="./assets/Images/f5.jpg" class="d-block w-90" alt="no-img"> <br>
                    <p class="para">
                            Preparing for relief: Family members and staff packing relief materials for the
                            flood-affected people.</p>
                  </div>


                  <div class="item">
                        <img src="./assets/Images/f6.jpg" class="d-block w-90" alt="no-img"> <br>
                        <p class="para">Movement time: Truck laden with relief material being sent to flood-affected
                                districts. Pranav Kumar left with the relief material, as Anand Kumar was busy
                                teaching the students.</p>
                      </div>

                      <div class="item">
                            <img src="./assets/Images/f7.jpg" class="d-block w-90" alt="no-img"> <br>
                            <p class="para">Faces of destitution: Children line up for relief material near the truck near Sonbarsa
                                    on way to Saharsa.</p>
                          </div>


                          <div class="item">
                                <img src="./assets/Images/f8.jpg" class="d-block w-90" alt="no-img"> <br>
                                <p class="para">Distributing relief: Praveen Kumar and Neeraj Pratap Singh, teachers of super 30  
                                        taking relief material to the needy people.</p>
                              </div>


                              <div class="item">
                                    <img src="./assets/Images/f9.jpg" class="d-block w-90" alt="no-img"> <br>
                                    <p class="para">Shaken: A woman with her infant in a shanty in the worst-affected Raghopur block of
                                            Supaul district, where relief material was taken to the doorsteps of the needy.</p>
                                  </div>


                                  <div class="item">
                                        <img src="./assets/Images/f10.jpg" class="d-block w-90" alt="no-img"> <br>
                                        <p class="para">
                                                Misery knows no bounds: With husband bed-ridden due to illness, an elderly woman
                                                waits for help. She was provided with medicines and relief material.</p>
                                      </div>


                                      <div class="item">
                                            <img src="./assets/Images/f11.jpg" class="d-block w-90" alt="no-img"> <br>
                                            <p class="para">A ray of hope: An elderly laid accepting relief material from Pranav Kumar at Supaul.</p>
                                          </div>


                                          <div class="item">
                                                <img src="./assets/Images/f12.jpg" class="d-block w-90" alt="no-img"> <br>
                                                <p class="para">Small moments of joy: Pranav shaking hands with a child. Unaware of the catastrophe
                                                        that has struck, the innocent child exchanges smile.</p>
                                              </div>


                                              <div class="item">
                                                    <img src="./assets/Images/f13.jpg" class="d-block w-90" alt="no-img"> <br>
                                                    <p class="para">All concentration: The students taking the test on the last day of the week-long
                                                            programme.</p>
                                                  </div>


                                                  <div class="item">
                                                        <img src="./assets/Images/f14.jpg" class="d-block w-90" alt="no-img"> <br>
                                                        <p class="para">Winner all: The top 20 students celebrate with the ‘Mathematical Cup’ with Anand
                                                                Kumar and Pranav Kumar. Each one of them received an innovative mug in
                                                                recognition of their performance.</p>
                                                      </div>

                                                      <div class="item">
                                                            <img src="./assets/Images/f15.jpg" class="d-block w-90" alt="no-img"> <br>
                                                            <p class="para">Gifts for all: There were no losers after the programme. On completion of the course,
                                                                    all the participants were presented pens as a mark of appreciation.</p>
                                                          </div>
        </div>
    
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>