<div class="container">
    <div class="card">
        <div class="card-header">
            Education Summit by India Today
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/14.jpg" class="img-fluid side" alt="responsive"> <br><br>
               <p class="para">
                January 27, 2012, Anand Kumar was invited at the education summit, 2012, organized by
the India Today group as a guest speaker. Anand with successful Super 30 students studying in IIT Delhi.
               </p>
               
            
               
               
    </div>
</div>
