
<div class="container">
    <div class="card">
        <div class="card-header">
            Big B gets teaching tips from Super 30's Anand
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/26.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                August 3, 2011, Anand Kumar with bollywood super star Amitabh Bachhan during a press conference in
Patna. <br>
For detail click here:- <br>

            <a href="https://timesofindia.indiatimes.com/india/Big-B-gets-teaching-tips-from-Super-30s-Anand/articleshow/9433908.cms?referral=PM" target="__blank"> <b> Big B gets teaching tips from Super 30's Anand</b></a><br>
            <a href="https://www.deccanherald.com/content/181447/big-b-takes-lesson-super.html" target="__blank"> <b> Big B takes a lesson from Super-30 Anand </b> </a>
               </p>
            
               
    </div>
</div>
