<div class="container">
        <div class="card">
            <div class="card-header">FAQs</div>
                <div class="card-body">
                    <p>
                         <b>   Q. Who is eligible for Super 30?</b> <br>
                            A. The eligibility is the same as that for IIT(JEE), but the students should have poor   
                                financial background. <br>
                            <br>
                          <b>  Q.  How can I join the Super 30? </b><br>
                            A.  You have to qualify the test. <br>
                            <br>
                         <b>   Q.  When is the test held? </b><br>
                            A.   In the month of May and June. <br>
                            <br>
                        <b>    Q.  To participate in the test, what I have to do? </b><br>
                            A.   For this, you have to submit an application form. <br>
                            <br>
                        <b>    Q.  When and where can I get the application form? </b><br>
                            A.   It is available in the first week of May at Ramanujan School of Mathematics. <br>
                            <br>
                        <b>    Q.  How much do I have to pay for obtaining the application form? </b><br>
                            A.  It is only Rs 60. <br>
                            <br>
                        <b>    Q.  Are there any other charges for the test? </b><br>
                            A.  No, you have to pay Rs 50 only for application which includes the test fee. <br>
                            <br>
                        <b>    Q.  What is the syllabus of entrance test? </b><br>
                            A.  The syllabus of entrance test is same as the syllabus of class 11th. <br>
                            <br>
                        <b>    Q.  What is the question pattern for the test? </b><br>
                            A.  There are 30 objective type questions equally from Physics, Chemistry and           
                                Mathematics. The test is of one hour with negative marking. <br>
                                <br>
                        <b>    Q.  When is the result published? </b><br>
                            A.  Two weeks after the test. <br>
                            <br>
                        <b>   Q.   How much do I have to pay for entire course? </b> <br>
                            A.   There is no fee for Super 30. It is an absolutely free program and includes free    
                                  lodging and food. <br>
                                  <br>
                        <b>    Q.  What is the duration of course? </b><br>
                            A.   About one year.    
                    </p>
            
        </div>
    </div>
    