<div class="container">
    <div class="card">
        <div class="card-header">Lecture at Tokyo University</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/4.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                February 13, 2013, Anand Kumar delivering lecture at University of Tokyo. <br>
                <a href="http://news.indiamart.com/story/focus-education-can-improve-indo-japan-ties-175135.html" target="__blank"> <b> ‘Focus on education can improve Indo-Japan ties’</b></a>
               </p >
            
               
    </div>
</div>
