
<div class="container">
        <div class="card">
            <div class="card-header">
                    Lecture in Abu Dhabi
    </div>
                <div class="card-body">
                        
                            <img src="./assets/Images/48.jpg" class="img-fluid side" alt="responsive">
                            <br><br>
                   <p class="para">
                        Anand Kumar speaks at the conference organized by "The institute of charted accounts of India" in Abu Dhabi. <br>
For detail click here:- <br>
<a href="https://www.patnadaily.com/index.php?option=com_content&view=article&id=2349&Itemid=157" target="__blank"> <b> Super 30 Founder to Speak in Abu Dhabi </b></a><br>
                      <a href="https://www.examresults.net/news/" target="__blank"> <b> Super 30 founder man leaves for Abu Dhabi lecture</b></a><br>

                      <a href="https://timesofindia.indiatimes.com/city/patna/Man-behind-Super30-plans-to-open-school-in-Bihar/articleshow/6758757.cms" target="__blank"> <b> Man behind Super30 plans to open school in Bihar</b></a>
                   </p>
                   
                      
        </div>
    </div>
    