
<div class="container">
    <div class="card">
        <div class="card-header">
            Meira meets Super 30 students
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/31.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                June 3, 2011, Lok shabha Speaker Meira Kumar at the residence of Anand Kumar to boost the
confidence of Super 30 students, who cracked the 2011 JEE. <br>
For detail please click here:- <br>
<a href="https://www.news18.com/" target="__blank"> <b> Meira meets Super 30 founder, students</b></a>
               </p>
               
            
               
    </div>
</div>
