<div class="container">
        <div class="card">
            <div class="card-header">CONTACT US</div>
                <div class="card-body">
                        <marquee  direction="left" class="marq" >
                                Important Note:- Please send an email for appointment to fix meeting. It is for your
                                convenience.
                                </marquee>
                   <p>
                        Office Address:- <br>
                        Ramanujan School of Mathematics <br>
                        Naya Tola, Kumhrar, Patna-800 020 <br>
                        <br>
                        Postal Address:- <br>
                        Ramanujan School of Mathematics <br>
                        Shanti Kutir, Chandpur Bela, Patna 800 001 <br>
                        <br>
                        email:- mail@super30.org <br>
                        
                          
                   </p>
                   

        </div>
    </div>
    