
<div class="container">
    <div class="card">
        <div class="card-header">
            Wise Conference in Doha
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/21.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                November 3, 2011, Anand Kumar delivered a lecture at an international conference ‘’world innovation
summit for education’’ organised at Doha, Qatar. Russian Youth Engineering Society president Dr.
Alexander Karpov and Poland's famous biology teacher Mr. Grzegorz Lorek are also with him on the
stage. <br> For the detail please go through the following links:- <br>
                
                <a href="https://timesofindia.indiatimes.com/city/patna/Anand-invitedto-Doha-meet/articleshow/10540787.cms?referral=PM" target="__blank"> <b> Anand invited to Doha meet</b></a><br>

               <a href="http://www.qatar-tribune.com/data/20111031/content.asp?section=nation4_2" target="__blank"> <b> Kumar of ‘Super 30’ fame to speak at WISE </b></a><br>
                
              <a href="https://www.gulf-times.com/error" target="__blank"> <b>Indian teacher mines for talent among destitute </b></a>
               </p>
               
            
               
               
    </div>
</div>
