
<div class="container">
        <div class="card">
            <div class="card-header">
                    Film on Super 30
    </div>
                <div class="card-body">
                        
                            <img src="./assets/Images/a.jpg" class="img-fluid" alt="responsive">
                            <img src="./assets/Images/b.jpg" class="img-fluid" alt="responsive">
                            <img src="./assets/Images/b.jpg" class="img-fluid" alt="responsive">
                            <br><br>
                   <p class="para">
                        Super 30 has gone global. A film on Super 30, which won the coveted ‘Audience Choice Award’ at the
                        sixth Indian Film Festival of Los Angeles (IFFLA) in April last, has now been selected for the 2008 South
                        Asian International Film Festival (SAIFF), to be held at Rubin Museum of Art, New York City from
                        October 22-28.
                        The synopsis of the film says: "Today’s Indian software millionaires live in Silicon Valley; this is the
                        astonishing story of where the next generation will come from. It’s about ambition in India today, and
                        how talent and determination can overcome the greatest obstacles. This film follows the most recent
                        Super 30, from their initial selection in September 2006 to the moment when they get their IIT results
                        in May 2007."
                        Prior to Mitchell's ORTV, which shot Super 30, there were quite a few international TV channels,
                        which came to Patna to capture the transformation of students. The film was also shown on Al Jazeera.
                   </p>
                   
                  
        </div>
    </div>
    