<div class="container">
    <div class="card">
        <div class="card-header">
            Honour by British Columbia Government
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/10.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                   
                February 20, 2012, Anand Kumar found tremendous appreciation in Canada, when he was felicitated at
                a grand function organized by South Asian Cultural Society in Vancouver, British Columbia, Canada.
                Marc Dalton honoured him on the behalf of British Columbia government. On this occasion the head
                of South Asian Cultural Society Biju Mathew also honoured him. 
               </p>
            
               
               
    </div>
</div>
