<div class="container-fluid first"> 
  <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fwww.super30.org%2Findex.html&ref_src=twsrc%5Etfw&region=follow_link&screen_name=teacheranand&tw_p=followbutton" target="__blank">
  <div class="row twit">
      <i class="fa fa-twitter fa-xs" aria-hidden="true">
        Follow@teacheranand 
                
              </i>  
  </div>   </a>
    <div class="row">
        

      <div class="col-md-4">
      <img src="./assets/Images/logo.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-4">
        <h2 >Welcome To The Official Website Of <br>
   <h1><b>SUPER30</b></h1>
      Ramanujan School Of Mathematics</h2>
    </div>
    
    
    
    <div class="col-md-4">
      <img src="./assets/Images/super30.png" class="img-fluid" alt="Responsive image">
    </div>
    
    </div>
  </div>
  
  <nav class="navbar navbar-dark bg-dark sticky-top">
      <a routerLink="" class="btn btn-info" role="button"><p>HOME</p></a>
      <a routerLink="history" class="btn btn-info" role="button"><p>HISTORY</p></a>
      <a routerLink="mission" class="btn btn-info" role="button"><p>MISSION</p></a>
      <a routerLink="media-tale" class="btn btn-info" role="button"><p>MEDIA TALE</p></a>
      <a routerLink="faqs" class="btn btn-info" role="button"><p>FAQs</p></a>
      <a routerLink="contactUS" class="btn btn-info" role="button"><p>CONTACT US</p></a>
      <a routerLink="career" class="btn btn-info" role="button"><p>CAREER@SUPER30</p></a>
  
  </nav>