
<div class="container">
        <div class="card">
            <div class="card-header">
                    The 60th foundation day of the IIT, Kharagpur
    </div>
                <div class="card-body">
                        
                            <img src="./assets/Images/49.jpg" class="img-fluid side" alt="responsive">
                            <br><br>
                   <p class="para">
                        Super 30 founder Anand Kumar and Magsaysay Award winner Prakash Amte at a function organised at
New Delhi to mark the 60th foundation day of the IIT, Kharagpur on Friday. The IIT, Kharagpur Alumni
Association "IIT Foundation" had called both Amte and Anand Kumar as the main speakers on the topic
"How to change society through education"
                   </p>
                   
                      
        </div>
    </div>
    