
<div class="container">
        <div class="card">
            <div class="card-header">
                    Selected Articles
    </div>
                <div class="card-body">
                        
                          
                   <p class="para">
                    
What we become depends on what we read……... <br>                                      
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ~THOMAS CARLYLE <br><br>
Of course, the impact of good writing can change our society; and good writing is a vital part of
mathematical education too. Here are a few newspaper articles written by Anand Kumar himself
those early days to fascinate the students. <br>
<br>

 <a href="./assets/Images/sa1.pdf" target="__blank"> Mad After Mathematics,The Times of India, July 23, 1994 </a> <br>
<br>
<a href="./assets/Images/sa2.pdf" target="__blank"> Preparing for Math Olympiad, The Times of India, March 11, 1994 </a><br>
<br>

<a href="./assets/Images/sa3.pdf" target="__blank"> International Math Olympiad, Hindustan (Hindi), 26 September, 1994 </a><br>
<br>

<a href="./assets/Images/sa4.pdf" target="__blank"> Interview of Kaushal Ajitabh, Hindustan(Hindi), 28 July 1994 </a><br>
<br>
 
<a href="./assets/Images/sa5.pdf" target="__blank"> Book review, The Times of India,1995 </a> <br>
<br>

If a teacher of mathematics fills his allotted time with drilling his students in routine operations, he
kills their interest, hampers their intellectual development and misuses his opportunity. But if he
challenges the curiosity of his students by setting them problems proportionate to their knowledge
and helping them to solve their problems with stimulating questions, he may give them a taste for,
and some means of independent thinking.               <br>                                                                     G POLYA
To popularise Mathematics and set challenges for mathematics lovers, Anand Kumar wrote some
mathematical columns in leading news. Some pieces are presented here. <br>
<br>

Challenging Problems: A popular fortnightly column for students preparing for various mathematical
competitions, published in the Times of India for over two years. A few columns are presented here. <br>
<br>

Science Sizzlers: Another popular weekly column, which provided the students some typical brain
teasers with answers and full explanation. A few columns are presented <a href="./assets/Images/sa1.pdf" target="__blank"> <b> HERE.</b></a>
                    
                   
                   </p>
                   
                
                   
                   
        </div>
    </div>
    