
<div class="container">
        <div class="card">
            <div class="card-header">
                    30 OUT OF 30
    </div>
                <div class="card-body">
                        
                            <img src="./assets/Images/56.jpg" class="img-fluid side" alt="responsive">
                            <br><br>
                            
                   <p class="para">
                        The year 2008 took Super 30 to the ‘Pinnacle of Glory’. All its students made it to the IIT-JEE, an
achievement that came after a lot of hard work and one-point devotion. As the results came, there
was a wave of jubilation at Anand’s house, with successful students and their overwhelmed parents
queuing up to pay their gratitude. After all, many of them had never thought of the metamorphosis,
which Super 30 brought about in their lives in just a year.
                   </p>
                   
                  
        </div>


        
                    <div class="card-body">
                            
                                <img src="./assets/Images/56a.jpg" class="img-fluid side" alt="responsive">
                                <br><br>
                                
                       <p class="para">
                            Chief Minister Nitish Kumar shared the success of the Super 30 by participating in the felicitation
programme. Several banks, companies and organizations came forward to felicitate Anand Kumar and
successful students for their outstanding performance.
                       </p>
                       
                      
            </div>
    </div>
    