<p>If Super 30 has become an architect for the budding poor talents, it is
        not without a reason. Fascinated by mathematics since early childhood,
        Anand always dreamt of becoming a mathematician. He started showing
        sparks of brilliance since early days. His love for mathematics came to
        fore in 1992, when he formed a Mathematics Club, ‘Ramanujam School of
        Mathematics’, while he was still in graduation. His mathematical bent of
        mind was spotted by renowned teachers, who provided him
        encouragement. Under the guidance of his mentor and guru, Devi Prasad
        Verma, then the Head, Department of Mathematics, Patna Science
        College, Anand started a training programme for mathematics lovers. It
        was a free programme, which anybody with interest in Mathematics
        could join. As months rolled by, Anand contributed several problems and
        papers on Mathematics to various national and international journals,
        magazines and newspapers.
        In 1994, Anand got an opportunity to pursue higher education in
        Cambridge University, but his poor financial health came in the way.
        Having witnessed extreme financial hardship since childhood, he felt the
        pangs of poverty so much that he decided to do something for the poor
        students, who invariably fade away without getting right opportunities.
        This led to the birth of new form of ‘Ramanujam School of Mathematics’.
        Here he trained a small group of students for various competitive
        examinations at a very nominal fee. For those who were extremely poor
        and were in no position to pay even the small amount, money was never
        a constraint. They just did not have to pay anything.
        After some time, Anand decided to shape his programme seriously to
        cater to the poor, but meritorious students more significantly. He called
        his brother Pranav Kumar, a talented violinist, from Mumbai and planned
        to start the innovative Super 30 programme. <br><br><br>
        Pranav Kumar helped Anand earlier also, but now he was directly
involved. He was entrusted with the responsibility of managing Super
30. After a thorough screening, 30 poor, but talented students were
shortlisted for the Super 30. Initially, making all arrangements for 30
students,was not so easy, but Anand’s family extended all help in his
endeavour. Anand generated finances by tutoring students of other
schools, while his mother, Jayanti Devi, cooked food for the students.
For the students, there was only one goal – to study hard.What followed
next was rigorous training of the students, and the results came as a big
surprise in the very first year.
It motivated Anand for put in more and more effort along with his team
of dedicated teachers.
In the last eight years, 212 students out of 240 have made to different IITs of the country. In 2003, when Super 30 started its journey,
18 out of 30 students competed. The very next year, the number jumped to 22. In 2005, it improved further to 26. Continuing the
trend, 28 students made it in 2006 and 2007. However, the ‘magic moment’ came in 2008, when the result was an astonishing 30 out of
30. Super 30 had hit the bull’s eye. It was ‘a dream come true’ for Anand and his team. Super 30 has done it again in 2009 and 2010. It
has been 30 out of 30 for the second year in succession. It was the result of dedicated effort of a committed group of teachers, led by
Anand. A senior police officer, Abhyanand, who is now involved with other social activities, also played his part in motivating the
students by finding some time off his busy schedule. The role of a group of old students of Super 30 was also vital. Amit Kumar and
Praveen Kumar contributed in running regular classes for variou subjects.
    </p>