<div class="container">
<div class="card">
<div class="card-header">HISTORY</div>
<div class="card-body">
<div class="row">
<div class="col-md-4">
        <a routerLink="/pt">
    <div class="card his">
        <div class="card-header">Photo Tour</div>
        <div class="card-body ">
                <img src="./assets/Images/photoTour.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div></a>
<br>
<a routerLink="/news">
    <div class="card his">
            <div class="card-header">Newspaper Clippings</div>
            <div class="card-body">
                    <img src="./assets/Images/newspaper.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div></a>
<br>

<a routerLink="/art">
        <div class="card his">
                <div class="card-header">Selected Articles</div>
                <div class="card-body">
                        <img src="./assets/Images/article.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div></a>

</div>

<div class="col-md-8">
       
      <router-outlet></router-outlet>
        


</div>


</div>

</div>
</div>
</div>