
<div class="container">
    <div class="card">
        <div class="card-header">
            Super 30 founder to address leadership symposium
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/25.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                August 5, 2011, Anand Kumar in Pattaya, Thailand to talk on the subject 'Power of Dream' at a
programma in Taj Hilton Hotel organized by London's organization " Humanitarian". <br>
For detail click here:- <br>
<a href="https://www.thehindu.com/education/article2308343.ece" target="__blank"> <b> ‘Super 30’ founder to address leadership symposium' </b></a>
               </p>
            
               
    </div>
</div>
