
<div class="container">
        <div class="card">
            <div class="card-header">
                    Meeting with Dr. APJ Abdul Kalam
    </div>
                <div class="card-body">
                        
                            <img src="./assets/Images/53.jpg" class="img-fluid side" alt="responsive">
                            <br><br>
                   <p class="para">
                        Former President of India A P J  Kalam with Anand Kumar, at New Delhi . Dr. Kalam discussed about super 30.
                   </p>
                   
                  
        </div>
    </div>
    