
<div class="container">
    <div class="card">
        <div class="card-header">
            Wikipedia Conference
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/20.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                November 20, 2011, Anand Kumar exchanging views with participants after delivering a lecture at a
conference organised by Wikipedia at Mumbai University. <br>
For detail please click here:- <br>
 <a href="https://timesofindia.indiatimes.com/city/mumbai/Super-30-founder-Anand-Kumar-to-address-Wiki-Conference-in-Mumbai/articleshow/10766856.cms?referral=PM" target="__blank"> <b> 'Super 30' founder Anand Kumar to address 'Wiki Conference' in Mumbai </b></a>
               </p>
               
            
              
               
    </div>
</div>
