<div class="container">
    <div class="card">
        <div class="card-header">
            Olivia Arthur a photographer from London
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/7.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                   
                November 15th, 2013, Olivia Arthur, a renowned photographer from London, was in Patna to shoot
mathematician Anand Kumar’s Super 30 in its totality.Recipient of many awards, including Royal
Photographic Society’s Odden Award and Laureate Photographe of Paris, Arthur shot not just at the
Super 30, but also went to shoot at the homes of some students. <br>
<a href="https://www.dailymail.co.uk/indiahome/indianews/article-2234168/Acclaimed-photographer-turns-lens-underprivileged-children.html" target="__blank"> <b> Acclaimed British photographer turns lens on underprivileged children</b></a>
               </p>
            
               
               
    </div>
</div>
