
<div class="container">
    <div class="card">
        <div class="card-header">
            Career counselling programme organised by Deccan
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/29.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                June 5, 2011, Deccan Herald and Prajawani newspapers in Bangalore organised a career counselling
programme, where Anand kumar addressed the students from Karnatka, Tamil Nadu and Andhra. <br>
For detail click here: <br>
<a href="https://www.deccanherald.com/content/166783/super-man-steals-show.html" target="__blank"> <b> ‘Super’ man steals the show </b></a>
               </p>
            
               
    </div>
</div>
