<div class="container">
    <div class="card">
        <div class="card-header">
            CCTV China
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/12.jpg" class="img-fluid side" alt="responsive"> <br><br>
               <p class="para">
                February 11, 2012, Anand Kumar being interviewed by famous TV anchor James Chao for a programme
on CCTV in China. Anand was on a visit to China. <br>
For detail click Here:- <br>
<a href="https://www.thehindu.com/education/article2889936.ece" target="__blank"> <b>In China, ‘Super 30' Maths wizard sees a lesson for India </b></a>
               </p>
               
            
               
               
    </div>
</div>
