
<div class="container">
    <div class="card">
        <div class="card-header">
            Japanese TV channel makes documentary on Super-30
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/39.jpg" class="img-fluid side" alt="responsive"> 
                        <br><br>
               <p class="para">
                February 23, 2011,The director Japan’s famous TV channel Kansa, Yuta Amma at Super 30 in Patna for
making a film on the innovative school. <br>
For detail click here:- <br>
<a href="https://www.msn.com/en-in/news/national?cp-documentid=4913857" target="__blank"> <b> Japanese TV channel makes documentary on Super-30 </b></a>
               </p>
               
            
               
    </div>
</div>
