
<div class="container">
    <div class="card">
        <div class="card-header">
            Education without border
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/36.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                March 30, 2011, "Education is the answer to world's pressing problems," Anand Kumar, mathematician
and founder of the Super 30, said at a programme ‘Education Without Border’, organised by Higher
Technology College, Dubai.UAE. Other prominent speakers at the conference included former British
Prime Minister Tony Blair, Nobel laureate Albert Fert, UNSECO head Irina Bokova and Kenyan Prime
Minister Raila Odinga. <br>
For detail click here:- <br>
<a href="https://www.deccanherald.com/content/150200/education-answer-worlds-problems-super.html" target="__blank"> <b> Education is answer to world's problems: Super 30 founder</b></a>
               </p>
               
            
               
    </div>
</div>
