<div class="container">
    <div class="card">
        <div class="card-header">Anand Kumar at Tokyo University</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/3.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                   
                February 13 , 2013, Anand Kumar meets with the Tokyo University Executive vice president Masako
Egawa.
               </p>
            

    </div>
</div>
