
<div class="container">
    <div class="card">
        <div class="card-header">
            Guest Lecture by Ram Ramanujan
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/43.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                Ram Ramanujam was speaking on the topic, "East is East, West is West, What is the best". The
                environmental scientist from California, USA underlined the importance to refine oneself. <br>
                For detail click here:- <br>
                 <a href="https://timesofindia.indiatimes.com/city/patna/US-scientist-praises-Bihars-Super-30/articleshow/7650263.cms?referral=PM" target="__blank"> <b> US scientist praises Bihar's Super 30 </b></a>
               </p>
               
           
               
    </div>
</div>
