<div class="container">
    <div class="card">
        <div class="card-header">MISSION</div>
            <div class="card-body">
                <p>The main objective of Super 30 is to track the talented bunch of students from economically
                        impoverished sections and hone their skills by providing a conducive environment. Talent knows no
                        boundaries. It is everywhere. All one needs is to spot talent and nurture it to let it blossom. Super 30
                        has done just that in the last six years and the results have been encouraging. The talented students
                        have been given quality teaching and an open atmosphere to perform to the best of their potential.
                        The students should not be handicapped by financial constraints of their families. If they have it in
                        them, Super 30 is there to guide them where they belong, but may not reach for want of resources.
                        Super 30’s mission is to help more and more students from economically poor sections reach the IITs.
                        Having shaped students for six years now, Anand has now realized the importance of ‘catching them
                        young’. He wants to start the talent hunt a bit earlier than Plus Two stage. If talented students are
                        spotted at the school-level, it can work wonders. With this in mind, he wants to set up schools for
                        poor children. The schools would provide the right impetus to the students at the right time through
                        innovative teaching to develop their interest in Mathematics and Science subjects at an early age. It
                        would shape them for different Olympiads and prepare them for other competitions. The thrust
                        would be on developing inquisitiveness, so very important for science and math education.</p>
            </div>
        
    </div>
</div>
