
<div class="container">
        <div class="card">
            <div class="card-header">
                    Again 30 out of 30
    </div>
                <div class="card-body">
                        
                            <img src="./assets/Images/52.jpg" class="img-fluid side" alt="responsive">
                            <br><br>
                   <p class="para">
                        Super 30 has done it again. It has been 30 out of 30 for the second year in succession. What is
more, most of the students who have made it to India’s top engineering institution in 2009 are
from the impoverished background. From the wards of a sweeper, carpenter or a daily wager
to the son of tailor, Super 30’s success story has it all, like always. What is common to all of
them today is the relaxed smile after having successfully completed the big IIT chase. They are
rejoicing for having realised their dreams. Their parents are basking in their wards’ glory.
Super 30, run by Ramanujan School of Mathematics, has been engaged in providing free
coaching, with free food and lodging, to students from poor families since 2002. The results
have been astonishing. In 2003, 18 students made it to the IIT. Next year it was 22, then 26, 28,
28, 30 and again 30 this year.
                   </p>
                   
                      
        </div>


        <div class="card">
                
                    <div class="card-body">
                            
                                <img src="./assets/Images/52a.jpg" class="img-fluid side" alt="responsive"> <br><br>
                       <p class="para">
                            During felicitation programme of Super 30, honourable chief Minister of Bihar Nitish Kumar is in
pleasant mood.
                       </p>
                       
                          
            </div>



            <div class="card">
                   
                        <div class="card-body">
                                
                                    <img src="./assets/Images/52b.jpg" class="img-fluid" alt="responsive"> <br><br>
                           <p class="para">
                                PACKED AUDIENCE: Students and their parents at the programme in the S.K Memorial hall, Patna.
                           </p>
                           
                              
                </div>
    </div>
    