<div class="container">
    <div class="card">
        <div class="card-header">
            Anand Kumar with Kiyoshi Kurokawa</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/5.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                   
                February 10, 2013:- Super 30 founder Anand Kumar holding talks with acclaimed scientist Kiyoshi
                Kurokawa, professor at the National Graduate Institute for Policy Studies and science advisor to the
                cabinet of Japan in Tokyo <br>
                For detail click here:- <br>
                <a href="https://www.dailymail.co.uk/indiahome/indianews/article-2276662/Super-30-goes-global-Bihar-mathematician-Anand-Kumar-gets-heroes-welcome-Tokyo.html" target="__blank"> <b> Super 30 goes global: Bihar mathematician Anand Kumar gets a heroes welcome in Tokyo</b></a>
               </p>
            
              
    </div>
</div>
