
<div class="container">
    <div class="card">
        <div class="card-header">
            Anand Kumar being honoured in Nagpur
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/30.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                June 4, 2011, at Nagpur, Anand Kumar being honoured with a memento by the Mayor Archana
Dehankar for the pioneering initiative of Super 30.
               </p>
            
               
    </div>
</div>
