<div class="container">
    <div class="card">
        <div class="card-header">
            THINK INDIA 2012
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/13.jpg" class="img-fluid side" alt="responsive"> <br><br>
               <p class="para">
                January 28, 2012, Anand Kumar being felicitated in the 'Real-Life Role Model Session' at THINK INDIA
2012 conference organized at the Indian Institute of Science Bangalore. Anand was invited as a
speaker at the conference.
               </p>
               
            
               
               
    </div>
</div>
