<div class="container">
        <div class="card">
            <div class="card-header">CAREER @ SUPER30</div>
                <div class="card-body">
                        <div class="card car">
                   <p>
                        
If you have it in you and you feel for the poor, but talented bunch of students, here is an opportunity
for you to contribute to the all-important cause. 
<br> <br> Come to Super 30 and help shape winners out of
talented students from economically deprived sections. Innovations is the key here. <br><br>
It will be an immensely satisfying experience working with extraordinary students and share their moments of joy. <br> <br>
You can e-mail your resume, if you have a passion to work for the poor students having extraordinary
talent.
                        
                          
                   </p>
                </div>

        </div>
    </div>
    