
<div class="container">
    <div class="card">
        <div class="card-header">
            Anand Kumar meets James Cameron
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/42.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                Anand Kumar with "Titanic" fame filmmaker James Cameron at the recently held Ink Conference
in association with Technology Entertainment and Design (TED) at Lavasa City.
               </p>
               
    </div>
</div>
