
<div class="container">
    <div class="card">
        <div class="card-header">
                Selected Articles
</div>
            <div class="card-body">
                    
                      
               <p class="para">
                I know the price of success: Dedication, hard work, and an unremitting devotion to the things you
                want to see happen.     <br>                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                               ~  FRANK LLOYD WRIGHT
                <br><br>
                Anand Kumar is dedicated to mathematical education since his early student life. It has always been
                his dream to become a good mathematics teacher and researcher. During his life, he faced a lot of
                difficulties and hurdles, but adversities only helped him grow stronger. It has been a long journey for
                Anand Kumar since 1992, when his love for mathematics and a keen desire to contribute something
                significant in the field of mathematics gave birth to Ramanujan School of Mathematics. Initially, it
                was just a platform for math lovers to share ideas and thoughts. Gradually, it expanded to help the
                needy children. As years rolled by, his approach got well appreciated. Read about the way media
                saw it in early stage. </p>


                    <br><br>
                
                                               <h3 class="para"> Anand Kumar's initial days of struggle </h3>
                                                <br>
                                                <p class="para">
                                             <a href="./assets/Images/st1.pdf" target="__blank">   The Times of India, Patna, 22 October 1993 <br> </a>
                                             <a href="./assets/Images/st2.pdf" target="__blank">    The Hindustan Times, 5 December 1993, Patna <br> </a>
                                             <a href="./assets/Images/st3.pdf" target="__blank">   Janstta, 19 December 1993, New Delhi <br> </a> 
                                             <a href="./assets/Images/st4.pdf" target="__blank">    Janstta, 3 June 1994, Mumbai <br> </a>
                                             <a href="./assets/Images/st5.pdf" target="__blank">  Dopahar ka Samana, Mumbai, June 1994 <br></a>  
                                             <a href="./assets/Images/st6.pdf" target="__blank">   Navbharat Times, Patna, 26 January 1995 <br></a> 
                                             <a href="./assets/Images/st7.pdf" target="__blank">   The Telegraph, Kolkata, 21 November 1995 <br></a> 
                                            </p> <br><br>

                                             <h3 class="para">   Ramanujan School of Mathematics </h3>
                                            <br>

                                                <p class="para">
                                                    <a href="./assets/Images/rm1.pdf" target="__blank">   Ramanujan Birth Anniversary, 1993 <br></a>
                                                    <a href="./assets/Images/rm2.pdf" target="__blank">   Ramanujan Birth Anniversary, 1994 <br></a>
                                                    <a href="./assets/Images/rm3.pdf" target="__blank">   Ramanujan Birth Anniversary, 1995 <br></a>
                                                    <a href="./assets/Images/rm4.pdf" target="__blank">  12- Day Free Classes, 1996 <br> </a>
                                                    <a href="./assets/Images/rm5.pdf" target="__blank">   Workshop on Mathematics, 1996 <br></a>
                                                    <a href="./assets/Images/rm6.pdf" target="__blank">    Ramanujan Birth Anniversary, 1996 <br></a>
                                                    <a href="./assets/Images/rm7.pdf" target="__blank">   Math Contest, 1996 <br></a>
                                                    <a href="./assets/Images/rm8.pdf" target="__blank">   Free Training Camp, 1997 <br></a>
                                                    <a href="./assets/Images/rm9.pdf" target="__blank">   Free Classes, 1998 <br></a>
                                                    <a href="./assets/Images/rm10.pdf" target="__blank"> Training Camp for Mathematical Olympiad, 1998 <br></a> 
                                                    <a href="./assets/Images/rm11.pdf" target="__blank">  Graph and Graphing, 1998 <br></a> 
                                                    <a href="./assets/Images/rm12.pdf" target="__blank">  Lecture of H.C Verma on the occasion of Ramanujan Birth Anniversary, 1998 <br></a> 
                                                    <a href="./assets/Images/rm13.pdf" target="__blank">  Ramanujan Birth Anniversary, 1999 <br></a> 
               </p>
               
            
               
               
    </div>
</div>
