
<div class="container">
    <div class="card">
        <div class="card-header">
            Honoured in Jaipur
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/27.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                July 24, 2011, Anand Kumar being honoured after his motivational talk in Jaipur by Khandal Mahasbha.
               </p>
            
               
    </div>
</div>
