<div class="container">
    <div class="card">
        <div class="card-header">Anand Kumar meets CGC Group chairman in Tokyo</div>
            <div class="card-body">
                    

                        <img src="./assets/Images/2.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                   
                February 10, 2013, Anand Kumar shaking hands with CGC chairman after a function at Hotel
                Hyatt in Tokyo. <br>
                <a href="https://timesofindia.indiatimes.com/city/patna/Japanese-company-plans-Super-30-like-school-in-India/articleshow/18536558.cms?referral=PM" target="__blank"> <b> Japanese company plans Super 30-like school in India </b></a>
               </p>
            

    </div>
</div>
