
<div class="container">
    <div class="card">
        <div class="card-header">
            Patna Book Fair
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/41.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                Anand Kumar was at the Patna Book Fair, an annual event that draws all the book lovers to the
historic Gandhi Maidan in the midst of Patna. Anand was also invited there for the release of a book
on mathematics, written by a young writer from the State. That he did. But before he could do
that, his mere presence created a bigger splash, and a problem for the organisers, who had to
arrange additional security to manage a huge crowd of youth and elderly, men and women, which
assembled there to have a glimpse of Anand or shake hands with him.
               </p>
               
    </div>
</div>
