<div class="container">
    <div class="card">
        <div class="card-header">
            Mathematics Workshop organised by Deccan and Prajavani
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/15.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                January 7, 2012, Anand Kumar telling the audience about ways of making mathematics teaching
interesting to draw students' attention at a mathematics workshop organised by Deccan Herald and
Prajavani in Bangalore. More than 2000 people gathered at the workshop. <br>
For detail click here:- <br>
<a href="https://www.deccanherald.com/content/217520/right-approach-makes-maths-easy.html" target="__blank"> <b> Right approach makes maths easy, says Super 30 founder </b></a>
               </p>
               
            
               
               
    </div>
</div>
