
<div class="container">
    <div class="card">
        <div class="card-header">
            Guru-Shishya Award
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/24.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                August 9, 2011, Anand Kumar receiving the Guru-Shishya Award from HRD Minister Kapil Sibal at a
function organized by IBN 7 in Taj Palace Hotel in New Delhi. His student Suresh also received the
award. <br>

               </p>
            
               
    </div>
</div>
