
<div class="container">
        <div class="card">
            <div class="card-header">
                    Japanese Beauty at Super 30
    </div>
                <div class="card-body">
                        
                            <img src="./assets/Images/58.jpg" class="img-fluid side" alt="responsive">
                            <br><br>
                            <h3 class="para">Anand Kumar receiving Norika Fujiwara</h3>
                   <p class="para">
                        Former Miss Japan and famous actress Norika Fujiwara visited Ramanujan Society of Mathematics for a
documentary film shoot. The Japanese film team arrived in Patna to make a movie on Super 30. The film crew
began shooting almost instantly at the institute and Dekuli village in Gaurichak from where Alok Kumar, one of the
students of the current batch, came. They also interviewed teachers of the Super 30.
<br> Some related links:- <br>
 <a href="https://timesofindia.indiatimes.com/city/patna/With-love-from-Tokyo-to-Patna/articleshow/1670396.cms?" target="__blank"> <b> The Times of India </b></a><br>
                   <a href="./assets/Images/super1.jpg" target="__blank"> <b> Hindustan Times</b></a><br>
                   <a href="https://www.telegraphindia.com/states/jharkhand/beauty-queen-study-king/cid/733584" target="__blank"> <b> The Telegraph</b></a>
                   </p>
                  
                  
        </div>
    </div>
    