
<div class="container">
        <div class="card">
            <div class="card-header">
                    Lecture at CII in Mumbai
    </div>
                <div class="card-body">
                        
                            <img src="./assets/Images/47.jpg" class="img-fluid side" alt="responsive">
                   <p class="para">
                        Anand Kumar delivering a lecture at the Conference organised by "Confederation of Indian Industry(CII)"  in
Mumbai. After his talk he was also honoured on the occasion. <br>
For detail click here:- <br>
<a href="https://timesofindia.indiatimes.com/city/mumbai/IIT-aspirants-in-state-can-hope-for-a-Super-30-race-to-the-top/articleshow/6801380.cms" target="__blank"> <b> IIT aspirants in state can hope for a `Super 30` race to the top</b></a><br>
                      <a href="https://www.hindustantimes.com/archive-news/" target="__blank"> <b> Next year, students from city will also have access to Super Thirty </b></a><br>
                   </p>
                   
                      
        </div>
    </div>
    