<div class="container">
    <div class="card">
        <div class="card-header">
            Anand Kumar gets Baroda Sun Life Achievement Award
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/8.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                   
                Bank of Baroda chairman-cum-managing director MD Malya presented the Baroda Sun Life Achievement
Award to the Super 30 founder Anand Kumar at a function in Mumbai. Previous recipients of the award
are actress Waheeda Rahman, cricketer Kapil Dev, vocalist Pandit Jasraj and film producer Yash
Chopra.
               </p>
            
               
               
    </div>
</div>
