
<div class="container">
        <div class="card">
            <div class="card-header">
                    Obama's special envoy hails Super 30
    </div>
                <div class="card-body">
                        
                            <img src="./assets/Images/50.jpg" class="img-fluid side" alt="responsive">
                            <br><br>
                   <p class="para">
                        U.S. President Barack Obama's special envoy to the Organisation of Islamic Conference Rashad Hussain shakes
                        hands with students during his visit to 'Super 30' institute in Patna on Sunday. <br>
                        For detail click here:- <br>
                        <a href="https://zeenews.india.com/news/nation/super-30-is-indias-best-institute-us-envoy_646766.html" target="__blank"> <b> Obama`s envoy terms `Super 30` as India`s `best` institute </b></a> <br>
                      <a href="https://www.deccanherald.com/content/87023/us-envoy-floored-super-30.html" target="__blank"> <b> US envoy floored by Super 30 </b></a> <br>
                      <a href="http://%27bihar%27s%20%27super%2030%27%20the%20best%20institute%20in%20india%27/" target="__blank"> <b> 'Bihar's 'Super 30' the best institute in India' </b></a>
                   </p>
                   
                      
        </div>
    </div>
    