
<div class="container">
        <div class="card">
            <div class="card-header">
                    IIMA Lecture
    </div>
                <div class="card-body">
                        
                            <img src="./assets/Images/57.jpg" class="img-fluid side" alt="responsive">
                            <br>
                            <h3 class="para">Anand Kumar (extreme left) in a seminar at IIM-A.</h3>
                            <br><br>
                   <p class="para">
                        The lecture delivered by Anand Kumar at India's top business management school, thel Indian School
                        of Management, Ahmedabad (IIM-A) was appreciated by all. He visited IIM-A on the invitation of Prof
                        Anil Gupta, Head, Rural Management for delivering a lecture. During his lecture, he showed a short
                        film and detailed the procedure by which he shortlists and trains the underprivileged students from
                        rural background. The audience enjoyed a session with him. In the interactive session, they asked
                        several questions related to Super 30 and the reasons behind its phenomenal success. <br>
                        Some related
                        links:- <br>
<a href="https://timesofindia.indiatimes.com/city/patna/Anands-lecture-appreciated-at-IIM-A/articleshow/534372.cms?" target="__blank"> <b> The Times of India-1</b></a><br>
                   <a href="https://timesofindia.indiatimes.com/toierrorfound.cms?url=https://timesofindia.indiatimes.com/articleshow/2177573.cms" target="__blank"> <b> The Times of India-2</b></a><br>
                   <a href="https://www.telegraphindia.com/india/math-whiz-gets-iim-call-up/cid/762703" target="__blank"> <b> The Telegraph</b></a>
                   </p>
                   
                  
        </div>
    </div>
    