
<div class="container">
    <div class="card">
        <div class="card-header">
            Anand Kumar at IES Group
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/35.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                April 13, 2011, The IES group of Bhopal organised a talk from Anand Kumar. A large number of people
                were present to listen to his talk.
               </p>
               
            
               
    </div>
</div>
