<div class="container">
    <div class="card">
        
            <div class="card-body">
                    
                        <img src="./assets/Images/chall.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                   
                Many organizations try to show that he is associated with
Super 30 or a part of Super 30. And they took a huge amount from
government as well as from private agencies. But we want to clear that we
have no branch or franchise around the globe. We have no financial support
for Super 30 from any government as well as private agencies. We generate
money on our own by running evening classes for intermediate level
students.
            Finally, we are not responsible if any takes, seeks or demands the
donation. We need only your moral support.
               </p>
            

    </div>
</div>
