
<div class="container">
        <div class="card">
            <div class="card-header">
                    FlOOD RELIEF
    </div>
                <div class="card-body">
                        
                            <img src="./assets/Images/55.jpg" class="img-fluid side" alt="responsive">
                            <br><br>
                   <p class="para">
                        Kosi is called the ‘river of sorrow’. Why? Nobody knows better than the tormented people of Supaul,
Saharsa, Madhepura, Araria and Purnea districts in Bihar. The rampaging Kosi has inundated vast tracts
of land, swept away village after village and marooned lakhs of people. The exact figure of casualty
is not known yet, but the utter devastation unleashed by Kosi is there for everyone to see. Battered
and bruised, they have been left with nothing to fall back upon. They neither have houses, nor food.
Some are living in the relief camps, others not yet ready to move from the embankments near their
villages.
In this hour of crisis, the Ramanujam School of Mathematics also came forward to extend its helping
hand to the suffering humanity. It organized a special course ‘Cracking the Mystery of Probability’ for
the students at a nominal fee of Rs 200. The entire income from the course was earmarked for the
relief work in worst affected areas.
                   </p>
                   <br>
                  
                  <button type="button" class="btn btn-primary per" routerLink="/flood">Photo-feature</button>
        </div>
    </div>
    