

      <div class="container-fluid sec">
        
      <div class="row">
        <div class="col-md-4 coledit">
        <div class="card crd" >
          <div class="card-header">What's New?</div>
          <div class="card-body list-group ">
            
            
                <a routerLink="/one" class="list-group-item list-group-item-action "> Entrance Test for Next Batch </a>
                  <a routerLink="/two" class="list-group-item list-group-item-action ">Corporation Bank Award</a>
                  <a routerLink="/three" class="list-group-item list-group-item-action"> Anand meets CGC Chairman in Tokyo </a>
                  <a routerLink="/four" class="list-group-item list-group-item-action">Anand Kumar at Tokyo University</a>
                  <a routerLink="/five" class="list-group-item list-group-item-action"> Lecture at Tokyo University </a>
                  <a routerLink="/six" class="list-group-item list-group-item-action">Meeting with Kiyoshi Kurokawa</a>
                  <a routerLink="/seven" class="list-group-item list-group-item-action">Discon</a>
                  <a routerLink="/eight" class="list-group-item list-group-item-action">Olivia Arthur</a>
                  <a href="https://www.youtube.com/watch?v=zxg6nAXPyuM" target="_blank" class="list-group-item list-group-item-action"> Super 30 and Amitabh Bachachan   </a>
                  <a href="https://www.telegraphindia.com/states/bihar/industry-learn-to-join-the-dots-first-bureaucrat-offers-puzzle-to-test-juniors/cid/377747" target="_blank" class="list-group-item list-group-item-action">A Puzzle</a>
                  <a routerLink="/nine" class="list-group-item list-group-item-action"> Bank of Baroda Award</a>
                  <a routerLink="/ten" class="list-group-item list-group-item-action">IIT JEE Result 2012</a>
                  <a routerLink="/oneone" class="list-group-item list-group-item-action"> Honour by British Columbia Government</a>
                  <a routerLink="/onetwo" class="list-group-item list-group-item-action">China International Radio</a>
                  <a routerLink="/onethree" class="list-group-item list-group-item-action"> Interview on CCTV, China</a>
                  <a routerLink="/onefour" class="list-group-item list-group-item-action">Think India</a>
                  <a routerLink="/onefive" class="list-group-item list-group-item-action"> India Today Education Summit-2012 </a>
                  <a routerLink="/onesix" class="list-group-item list-group-item-action">Mathematics Workshop</a>
                  <a routerLink="/oneseven" class="list-group-item list-group-item-action"> Lecture in Coimbatore </a>
                  <a routerLink="/oneeight" class="list-group-item list-group-item-action">Talk Show</a>
                  <a routerLink="/onenine" class="list-group-item list-group-item-action"> Give Back to Society </a>
                  <a routerLink="/oneten" class="list-group-item list-group-item-action">Guest Lecture</a>
                  <a href="https://www.news18.com/" target="_blank" class="list-group-item list-group-item-action"> In the list of world's 20 top teachers</a>
                  <a routerLink="/twoone" class="list-group-item list-group-item-action">Wikipedia Conference</a>
                  <a routerLink="/twotwo" class="list-group-item list-group-item-action">Wise Conference</a>
                  <a routerLink="/twothree" class="list-group-item list-group-item-action"> Lecture in Belgaum</a>
                  <a routerLink="/twofour" class="list-group-item list-group-item-action">Teacher’s Day in Bhopal</a>
                  <a routerLink="/twofive" class="list-group-item list-group-item-action">Guru-Shishya Award</a>
                  <a routerLink="/twosix" class="list-group-item list-group-item-action"> Power of Dream</a>
                  <a routerLink="/twoseven" class="list-group-item list-group-item-action">Big B takes lesson from Anand</a>
                  <a routerLink="/twoeight" class="list-group-item list-group-item-action">Honoured in Jaipur</a>
                  <a routerLink="/twonine" class="list-group-item list-group-item-action">Motivational Talk in Indore</a>
                  <a href="https://www.thehindu.com/news/states/other-states/article2123202.ece" target="_blank" class="list-group-item list-group-item-action">Super30 figures in a Japan book</a>
                  <a routerLink="/twoten" class="list-group-item list-group-item-action">Career Counselling in Banglore</a>
                  <a routerLink="/threeone" class="list-group-item list-group-item-action"> Anand Kumar being honoured in Nagpur</a>
                  <a routerLink="/threetwo" class="list-group-item list-group-item-action">Meira meets Super 30 students</a>
                  <a routerLink="/threethree" class="list-group-item list-group-item-action">Result IIT JEE 2011</a>
                  <a href="http://biharfoundation.in/anand-to-get-award-in-doha/2011/" target="_blank" class="list-group-item list-group-item-action"> Education in Excellence Award-2011</a>
                  <a routerLink="/threefour" class="list-group-item list-group-item-action">Sankalp</a>
                  <a href="http://archive.indianexpress.com/news/anand-and-super-30-featured-in-focus-magaz/778742" target="_blank" class="list-group-item list-group-item-action">'Focus' magazine</a>
                  <a href="http://www.ams.org/publicoutreach/math-in-the-media/mathdigest-md-201103-toc#201104-ramanujan" target="_blank" class="list-group-item list-group-item-action"> Super 30 on AMS's website</a>
                  <a routerLink="/threefive" class="list-group-item list-group-item-action">Lecture in Patiala</a>


                  <a routerLink="/threesix" class="list-group-item list-group-item-action">Anand Kumar at IES Group</a>
                  <a routerLink="/threeseven" class="list-group-item list-group-item-action"> Education without borders</a>
                  <a routerLink="/threeeight" class="list-group-item list-group-item-action">‘Making the Difference’</a>
                  <a routerLink="/threenine" class="list-group-item list-group-item-action">Guest Lecture</a>
                  <a routerLink="/threeten" class="list-group-item list-group-item-action"> Educator Extraordinaire Award</a>
                  <a routerLink="/fourone" class="list-group-item list-group-item-action">Japanese channel to film Super 30</a>
                  <a href="https://daily.bhaskar.com/news/BIH-dalai-lama-to-felicitate-super-30-founder-1859338.html?PRV=" target="_blank" class="list-group-item list-group-item-action">Dalai Lama to felicitate Super 30 founder</a>
                  <a routerLink="/fourtwo" class="list-group-item list-group-item-action"> TVS School, Madurai</a>
                  <a href="https://www.tata.com/article.aspx?artid=QMNxSd03HQ0=" target="_blank" class="list-group-item list-group-item-action">Tata Jagriti Yatra</a>
                  <a href="http://www.polityindia.com/index.php?option=com_content&view=article&id=163:corruption-private-limited-is-being-liquidated-in-bihar&catid=13:article&Itemid=37" target="_blank" class="list-group-item list-group-item-action">Super 30 in Polity India</a>
                  <a href="https://www.patnadaily.com/index.php?option=com_content&view=article&id=2649&Itemid=236" target="_blank" class="list-group-item list-group-item-action">Person of the year 2010</a>
                  <a href="https://www.thehindu.com/archive/" target="_blank" class="list-group-item list-group-item-action">Yeshwant Rao Kelkar Youth Award</a>
                  <a routerLink="/fourthree" class="list-group-item list-group-item-action">Patna Book Fair</a>
                  <a routerLink="/fourfour" class="list-group-item list-group-item-action"> Anand Kumar meets James Cameron</a>
                  <a href="https://www.news18.com/" target="_blank" class="list-group-item list-group-item-action">Zindagi Live: Meet 'Super Guru' Anand
                      Kumar</a>
                  <a href="https://gulfnews.com/lifestyle/powering-their-potential-1.715353" target="_blank" class="list-group-item list-group-item-action">Powering their potential</a>
                  <a routerLink="/fourfive" class="list-group-item list-group-item-action"> Anand Kumar at Ink Conference</a>
                  <a routerLink="/foursix" class="list-group-item list-group-item-action">Bihar honours Anand with top award</a>
                  <a routerLink="/fourseven" class="list-group-item list-group-item-action">
                      Lecture of Anand Kumar at IIT, Delhi</a>
                  <a routerLink="/foureight" class="list-group-item list-group-item-action"> Lecture at CII</a>
                  <a routerLink="/fournine" class="list-group-item list-group-item-action">Lecture in Abu Dhabi</a>
                  <a routerLink="/fourten" class="list-group-item list-group-item-action">The 60th foundation day of the IIT,Kgp</a>
                  <a routerLink="/fiveone" class="list-group-item list-group-item-action"> India's 'best' institute: Obama's envoy</a>
                  <a routerLink="/fivetwo" class="list-group-item list-group-item-action">Lecture at Akal Academy</a>
                  <a href="https://timesofindia.indiatimes.com/city/patna/Kumar-of-Super-30-finds-place-in-Limca-Book/articleshow/5011094.cms?" target="_blank" class="list-group-item list-group-item-action">Limca Book of Records 2010</a>
                  <a routerLink="/fivethree" class="list-group-item list-group-item-action"> Again 30 out of 30</a>
                  <a href="https://www.careers360.com/news/3713-India-s-poorest-students-make-it-to-IIT" target="_blank" class="list-group-item list-group-item-action">India's poorest students make it to IIT</a>
                  <a href="https://www.patnadaily.com/news2009/oct/101309/super30_talent_search.html" target="_blank" class="list-group-item list-group-item-action">Talent Search Competition</a>
                  <a routerLink="/fivefour" class="list-group-item list-group-item-action"> Meeting with  Dr. APJ Abdul Kalam</a>
                  <a href="https://www.geo.de/reisen/2121-thma-kultur" target="_blank" class="list-group-item list-group-item-action">GEO Magazine captures Super 30</a>
                  <a routerLink="/fivefive" class="list-group-item list-group-item-action">Special lecture by Ram Ramanujam</a>
                  <a routerLink="/fivesix" class="list-group-item list-group-item-action"> Film on Super 30</a>
                  <a routerLink="/fiveseven" class="list-group-item list-group-item-action">Flood Relief fund</a>
                  <a routerLink="/fiveeight" class="list-group-item list-group-item-action">30 out of 30</a>
                  <a routerLink="/fivenine" class="list-group-item list-group-item-action"> IIMA Lecture</a>
                  <a routerLink="/fiveten" class="list-group-item list-group-item-action">Japanese Beauty at Super 30</a>


                
          </div>
        </div>
        </div>
        <div class="col-md-8" >
          <router-outlet></router-outlet>
      </div>

      
       
    </div>
    </div>
    