
<div class="container">
    <div class="card">
        <div class="card-header">
            
Motivational Talk
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/28.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                July 17, 2011, a large number of students and academicians assembled to listen to Anand Kumar in
                Indore organised by "Sarthak".
               </p>
           
               
    </div>
</div>
