<div class="container">
    <div class="card">
        <div class="card-header">
            27 of the 30 students have cracked the IIT JEE 2012
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/9.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                   
                Super 30 continued to churn out feel-good, success stories with 27 of its 30 underprivileged
students cracking the coveted Indian Institute of Technology-Joint Entrance Examination
(IIT-JEE) 2012.
               </p>
            
               
               
    </div>
</div>
