
<div class="container">
    <div class="card">
        <div class="card-header">
            Anand Kumar at the "Ink Conference"
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/44.jpg" class="img-fluid side" alt="responsive">
               <p class="para">
                Anand Kumar will deliver a talk at an international Conference "Ink Conference" in the city of Lavasa
                in Maharashtra between december 10 and 12. <br>
                For detail click the following link :- <br>
                 <a href="https://timesofindia.indiatimes.com/toierrorfound.cms?url=https://timesofindia.indiatimes.com/entertainment/hollywood/news-interviews/Super-30-founder-to-meet-Cameron/articleshow/6968481.cms" target="__blank"> <b> Super30 founder to meet Cameron </b> </a><br>
                  <a href="https://timesofindia.indiatimes.com/city/patna/Math-wizard-Anand-Cameron-to-share-dais/articleshow/6966043.cms" target="__blank"> <b> Math Wizard Anand, Cameron to share dais </b> </a><br>
                  <a href="https://timesofindia.indiatimes.com/entertainment/english/hollywood/news/James-Cameron-coming-to-India/articleshow/6964099.cms?" target="__blank"> <b> James Cameron coming to India </b></a>
               </p>
              
    </div>
</div>
