<div class="container">
    <div class="card">
        <div class="card-header">
            Anand Kumar speaks at Discon(a programme organized by Rotary Club, Navi Mumbai)
</div>
            <div class="card-body">
                    
                        <img src="./assets/Images/6.jpg" class="img-fluid side" alt="responsive">
                        <br><br>
               <p class="para">
                   
                2 Feb, 2013, Anand Kumar speaks at a function DISCON organized by Rotary Club Navi Mumnai after
                receiving the Life Time Achievement Award.
               </p>
            
               
    </div>
</div>
