<div class="container ">
    <div class="card">
        <div class="card-header">Super 30 Entrance Test  for IIT JEE 2020 and 2021</div>
            <div class="card-body">

                <img src="./assets/Images/iit.jpg" class="img-fluid side" alt="responsive">
                    
               <p>
  
In view of growing demand, Super 30, has
decided to increase its reach and access.  This
year, admissions will not be confined to  
students of Bihar only.  Apart from Bihar, it
will be open to students from other States. The
procedure of admission will, however, remain
the same – through test.      
                      
               </p>
            <br>
               
            



            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary popp" data-toggle="modal" data-target="#exampleModalCenter">
    Bihar
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Super 30 Entrance Test  for IIT JEE 2020-21</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p> <br>
            Patna <br>
            Date of examination:- 7th July 2019 <br><br>
            
            Centre: Ramanujan School of Mathematics <br>
            Naya Tola, Kumhrar, Patna-800 020 <br><br>
            
            Application will be available at <br><br>
            
            Ramanujan School of Mathematics <br>
            Naya Tola, Kumhrar, Patna-800 020 <br>
            Phone:- 9135060804/9135060805 <br>
        </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary popp" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
            

    </div>
</div>
